/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "datatables";

$primaryColor: #985BA3;
$lightColor: #fff;

$xxsmall: 480px;

body, html {
  height: 100%;
}

body {
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  header {
    padding: 10px;
    background: $primaryColor;

    @media only screen and (max-width: $xxsmall), only screen and (max-device-width: $xxsmall) {
      .align-center {
        display: block;
      }

      img {
        margin: 0 auto;
      }
    }

    #logo {
      margin: 0;

      @media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
        text-align: center;
      }

      img {
        max-height: 6vh;
      }
    }

    #user-area {
      text-align: right;

      @media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
        text-align: center;
      }

      #avatar-menu {
        cursor: pointer;
      }

      .btn {
        color: #fff;
      }

      #user-popover {
        display: none;
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    position: relative;

    .content {
      padding: 20px;
      width: 100%;
      background: $gray-200;

      .actions {
        margin: 10px 0;
      }

      .box {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        border-top: 3px solid $gray-400;
        margin-bottom: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        .box-body {
          padding: 10px;
        }
      }
    }
  }

  footer {
    background: $primaryColor;
    padding: 5px;
    text-align: right;
    font-size: x-small;
    color: $lightColor;

    @media only screen and (max-width: 575px), only screen and (max-device-width: 575px) {
      text-align: center;
    }

    a {
      color: $lightColor;

      &:hover {
        text-decoration: none;
        color: #E5F285;
      }
    }
  }
}

.to-right {
  text-align: right;
}

.align-center {
  display: flex;
  align-items: center;
}

.full-width {
  width: 100%;
}

.main-alert {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

form {
  .field_with_errors {
    input {
      border-color: $red;
    }
  }

  .form-image {
    margin: 5px 0;

    img {
      max-height: 15vh;
    }
  }

  label {
    &.error {
      color: $red;
    }
  }

  input {
    &.error {
      border-color: $red;
    }
  }
}

.responsive-margin-bottom {
  @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    margin-bottom: 10px;
  }
}

.loading-div {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  visibility: hidden;
}